.Tag {
  display: inline-block;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 5px 12px;
}

.m {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.primary {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.outline {
  border: 1px solid var(--grey-light);
  color: var(--black);
  background-color: var(--white);
}

.success {
  background-color: var(--green-light);
  color: var(--green);
}

.danger {
  background-color: var(--red);
  color: var(--white);
}

.link {
  transition: 0.2s;
}

.link:hover {
  opacity: 0.8;
}