.Star {
  display: inline-block;
}

.starIcon {
  display: inline-block;
  padding: 2.5px;
}

.starIcon path {
  transition: 0.2s;
}

.fillStarIcon path {
  fill: var(--primary);
}

.isEditableIcon {
  cursor: pointer;
}