:root {
  --black: #3B434E;
  --white: #fff;
  --grey-light: #EBEBEB;
  --grey-medium: #DFDFDF;
  --grey-dark: #787D85;
  --primary: #7653FC;
  --primary-hover: #5b33fc;
  --red-light: #FC836D;
  --red: #DE0000;
  --green: #1DC37E;
  --green-light: #C8F8E4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--black);
  background-color:  #F5F6F8;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}