.Sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 53px;
}

.logoImg {
  width: 100%;
  height: 40px;
  background-image: url("../icons/logo.jpg");
  background-position: 39% 19%;
  border-radius: 5px;
}