.Layout {
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;
  grid-template-rows: 1fr auto;
  gap: 0 30px;
  grid-template-areas:
      ". sidebar main ."
      "footer footer footer footer";
  min-height: 100vh;
}

.Header {
  display: none;
  grid-area: header;
  height: 50px;
}

.Sidebar {
  grid-area: sidebar;
}

.MainContent {
  grid-area: main;
}

.Footer {
  grid-area: footer;
  height: 72px;
}

@media screen and (max-width: 1030px) {
  .Layout {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
    min-height: 100vh;
  }

  .Header {
    display: block;
  }

  .Sidebar {
    display: none;
  }
}